.App {
  text-align: center;
}

#quote {
  position: absolute;
  max-width: 200px;
  z-index: 2;
  opacity: 0;
  transition: opacity 2s;
}

#intro #quote.appear{
  opacity: 1;
}

#quote span {
  font-size: 13px;
  font-style: italic;
  font-weight: 700;
}

.section {
  height: 90vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont {
  height: 60vh;
  width: 60vw;
  margin: auto;
  text-align: left;
}

#nav {
  height: 10vh;
}

#nav .icon {
  font-size: 30px;
  cursor: pointer;
}

#nav .icon i {
  margin: 20px;
  transition: transform 2s ease 0s, top 2s;
  position: relative;
}

#nav .icon i.down {
  top: -10px;
}

#nav .icon i.up {
  top: 10px;
}

.rotate {
  transform: rotate(180deg)
}

